
Primary References
Always consult the docs/ folder, and the Techstream_uds_logs/ folder before making any code changes.
If any instructions in docs/ are unclear, prioritize examples and patterns found in the Techstream_uds_logs/ folder.
Treat the UDS logs in Techstream_uds_logs/ as the authoritative ground truth for UDS message formats and content. When handling or interpreting UDS messages, trust and align your implementation to the patterns in these logs. The Lexus ISF canbus messages are defined in the docs/LexusI ISF Canbus Message Definitions.json file.
Regularly review the markdown readme files to make sure the code still aligns. If it not aligns, update the code to align with the .md files.

Code Style Guidelines
Follow the code style guidelines defined in code-guidelines.md.

Building Arduino Application
Follow the build instructions in build-instructions.md to build the application.
Follow the esp32 build instructions in ESP32 Firmware Flash & Build Upload Guide.md to flash the application and upload it to the esp32 on the configured com port.

Directory Layout
Ensure the Directory Layout in readme.md is updated if any new folders are added.

Ignore the contents in the following folders.  
.build
.cursor
